<form class="form-control" [formGroup]="addTaskForm" (ngSubmit)="onSubmit()">
  
<div id="addSection">
  <div class="row justify-content-start">
    <div class="col col-auto"></div>
    <div class="col col-2">
      Task:
    </div>
    <div class="col col-5"><input type="text" class="form-control" formControlName="taskName" >
    </div>
  </div>
  <br>
  <div class="row justify-content-start">
    <div class="col col-auto"></div>
    <div class="col col-2">
      <label for="formControlRange">Priority:</label>
    </div>
    <div class="col col-5">
      <span class="input-group-text" id="basic-addon1">0<input type="range" max="30" min="0" class="form-control-range" id="formControlRange" step="5" formControlName="priority" >30</span>
    </div>
  </div>
  <br>
  <div class="row justify-content-start">
    <div class="col col-auto"></div>
    <div class="col col-2">
      Parent Task:
    </div>
    <div class="col col-5">
      <input type="text" class="form-control" formControlName="parentTaskName" >
      </div>
  </div>
  <br>
  <div class="row justify-content-start">
      <div class="col col-auto"></div>
      <div class="col col-2">
        Start Date:
      </div>
      <div class="col col-5">
        <input type="date" class="form-control" formControlName="startDate" >
        </div>
    </div>
    <br>
    <div class="row justify-content-start">
        <div class="col col-auto"></div>
        <div class="col col-2">
          End Date:
        </div>
        <div class="col col-5">
          <input type="date" class="form-control" formControlName="endDate" >
          </div>
      </div>
      <br>
      <br>
      <div class="row justify-content-start">
          <div class="col col-auto"></div>
          <div class="col col-2"></div>
          <div class="col col-auto">
            <button class="btn btn-outline-secondary" type="submit" id="button-addTask">Add Task</button>
          </div>
          <div class="col col-auto">            
            <button class="btn btn-outline-secondary" type="button" id="button-reset">Reset</button>
          </div>
        </div>
</div>
</form>